# Ignore everything:
*

# Except for the themes directories:

!.gitignore
!/wp-content/

!/wp-content/plugins/
!/wp-content/plugins/*
!/wp-content/plugins/*/*
!/wp-content/plugins/*/*/*
!/wp-content/plugins/*/*/*/*
!/wp-content/plugins/*/*/*/*/*

!/wp-content/themes/breeyn/
!/wp-content/themes/breeyn/*
!/wp-content/themes/breeyn/*/*
!/wp-content/themes/breeyn/*/*/*
!/wp-content/themes/breeyn/*/*/*/*
!/wp-content/themes/breeyn/*/*/*/*/*
