@mixin grid($cols: "", $rows: "", $gap: "", $width: auto) {
  width: $width;
  display: grid;
  @if $cols != "" {
    grid-template-columns: $cols;
  }
  @if $rows != "" {
    grid-template-rows: $rows;
  }
  @if $gap != "" {
    grid-gap: $gap;
  }
}
